
        body {
            margin: 0;
        }

        .container {
            display: grid;
        }

        header {
            grid-column-start: 1;
            grid-column-end: 12;
            background-color: #e2dde9;
        }

        .menu {
            grid-column-start: 6;
            grid-column-end: 12;
            justify-content: center;
            gap: 20px;
        }


        .imagem {
            grid-column-start: 1;
            grid-column-end: 3;

        }

        .principal {
            grid-column-start: 4;
            grid-column-end: 12;
            padding-left: 15px;
            padding-right: 15px;
            text-align: justify;

        }

        footer {
            grid-column-start: 1;
            grid-column-end: 12;
            background-color: #506E6A;
            color: white;
            text-align: center;
        }

        ul {
            list-style-type: none;
            color: #506E6A;
        }

        a,
        a:link {
            text-decoration: none;
            padding: 8px 16px;
            border: solid #506E6A 1px;
        }

        li {
            float: left;
        }

        a:hover {
            background-color: #506E6A;
            color: white;
        }

        /* media query para dispositivos móveis */
        @media only screen and (max-width: 767px) {
            .wrapper {
                grid-column-start: 1;
                grid-column-end: 1;

            }

            .imagem {
                grid-column-start: 1;
                grid-column-end: 1;

            }

            .principal {
                grid-column-start: 1;
                grid-column-end: 1;

            }
        }
    